<div class="quotes">
  <form (submit)="addQuote()">
    <input type="text" name="inputQuote" class="quote-input" placeholder="Enter Quotes"  [(ngModel)]="inputQuote"  >

    <!-- <input class="quote-submit" type="submit" value="Add Quotes"> -->
  </form>
  <!-- <div class="quote" *ngFor = "let quote of quotes; let i = index;">

    <div class="id">{{i}}</div>

    <div class="content">{{quote.content}}</div>
    <button class="delete" (click)="deleteQuote(i)">Remove</button>

  </div> -->


</div>

