
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif; 
}

body{
    background: skyblue;
    text-align: center;
}

h1{
    margin-bottom: 5%;
}

/* input{
    color: green;
}

button{
    color: red;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2em;
}


.quote-submit{
    margin-left: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2em;
}

.quote-input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.2em;
} */